*{
    box-sizing: border-box; /* pour que les padding et margin ne modifient pas la taille de l'élément */
}



text {
  font-family: "authentic-sans-60", monospace;
  font-weight: 400;
  font-style: normal;
  color: #25173b;
}

.authentic-sans-60 {
  font-family: "authentic-sans-60", monospace;
}


@font-face {
  font-family: "authentic-sans-60";
  src: url("web/authentic-sans-60.woff2") format("woff2"),
       url("web/authentic-sans-60.woff") format("woff"); /* Ajout d'un format de police en cas de non-support du WOFF2 */
}

.a-propos {
  display: grid;
  grid-template-columns: repeat(2,1fr); /* Deux colonnes (left et right) */
  padding: 10px;
  margin: 20px;
  gap: 100px;
  justify-items: space-between; 
  font-family: "authentic-sans-60", monospace;
}

.annonce{
  font-size: 14px;
  font-weight: 400;
  font-family: "authentic-sans-60", monospace;
}




body{
    background-color: #debfff;
    margin: 0; 
    line-height: 1.5; 
}

img{
    max-width: 100%; /* pour que les images ne dépassent pas de leur conteneur */
    height: auto; /* pour garder le ratio de l'image */
}

figure{
    margin: 0; /* pour éviter les marges par défaut du navigateur */
}

.header{
  display: grid; /* pour pouvoir utiliser grid-template-columns */
  grid-template-columns: max-content max-content; /* 2 colonnes de largeur minimale */
  justify-content: space-between; /* pour espacer les éléments */
  align-items: center; /* pour centrer verticalement */

  padding:0 24px; 
  position: sticky; /* pour que le header reste en haut de la page */
  top:0; /* pour que le header reste en haut de la page */
  -webkit-backdrop-filter: blur(6px); /* pour flouter le background sur Safari */
  backdrop-filter: blur(6px); /* pour flouter le background */
  z-index: 999; /* repeindre */
}

.header h1{
  margin: 6px 0; /* pour éviter les marges par défaut du navigateur */
}
.header h1:hover{
  animation: boing 1.5s infinite; /* pour animer le logo en survole */
}

/* Réduction de la taille du logo sur mobile */
header h1 img {
  max-width: 150px; /* Taille réduite du logo */
  height: auto;
}

@keyframes boing {
  0% { transform: scale(0.9); }
  30% { transform: scale(1.1); }
  50% { transform: scale(0.8); }
  70% { transform: scale(1); }
  100% { transform: scale(0.9); }
}

.header-nav{
  display: grid;
  grid-template-columns: max-content max-content ;
  gap:0 24px ;
 
}


.header-nav a{
  color:#25173b;
  text-decoration: none;
}

.header-nav a:hover {
  background: linear-gradient(90deg,#25173b, #e26951, #2adc4d,#25173b);
  background-size: 200px; /* pour définir la largeur du dégradé */
  -webkit-background-clip: text; /* pour que le dégradé soit visible dans le texte */
  background-clip: text; /* pour que le dégradé soit visible dans le texte */
  color: transparent; /* pour que le texte soit transparent */
  animation: rainbow 1s linear infinite; /* pour animer le dégradé */
}

@keyframes rainbow {
  0% { background-position:  0 0; }
  100% { background-position: -200px 0; }
}


/*Bouton "revenir en haut" */
.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;                 
  height: 50px;                 
  opacity: 0;                   
  pointer-events: none;         
  transition: opacity 0.3s ease-in-out; 
  z-index: 100;
}
.back-to-top:hover img {
  filter: brightness(0.7);   
}
.back-to-top.visible {
  opacity: 1;                
  pointer-events: auto;      
}
.back-to-top:hover{
  animation: boing 1.5s infinite; 
}


.projets{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(480px, 1fr)); /* Ajustement pour plusieurs enfants sur une ligne */
  margin: 10px; /* Espace entre les éléments */ 
  /* auto-fit pour que le nombre d'éléments s'adaptent à la largeur du conteneur 
  320px -> 1 élément
  480px -> 2 éléments
  720px -> 3 éléments
  */
}

.projet{
  padding: 0; /* Supprimer le padding */
  margin: 0; /* Ajouter cette ligne si nécessaire */
  display: block; /* Changer en block pour éviter l'espace en bas */
  position: relative; /* Garder pour le positionnement de l'overlay */
  margin: 7px;
  font-size: 20px;
}
  


.projet img{
  display: block;
  width: 100%;
  height: 100%; 
  object-fit: cover; 
}



.all {
  display: grid;
  grid-template-columns: 2fr 1fr; /* Deux colonnes (left et right) */
  gap: 18px;
  padding: 18px;
  justify-content: center;
  min-height: 100vh;
  overflow: visible; /* Pour éviter que le contenu soit coupé */
}

.right{
  font-family: "authentic-sans-60", monospace;
  max-width: 480px;
  position: sticky;
  top: 125px;
  z-index: 10;
  padding: 0;
  margin: 0;
  color : #25173b;
}

.sticky {
  position: -webkit-sticky; 
  position: sticky; 
  top: 150px; 
  align-self: start;
  font-family: "authentic-sans-60", monospace;
}

.left {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}
.left img {
  width: 100%; /* Les images prennent toute la largeur de leur conteneur */
  height: auto; /* Maintient les proportions */
  justify-self: center; /* Centre horizontalement dans la cellule */
  align-self: center; /* Centre verticalement dans la cellule */
}

.left .full-width {
  width: 100%; /* Première image sur toute la largeur */
  height: auto;
}

.left .row {
  display: grid; /* Utilisation de Grid pour la deuxième ligne */
  grid-template-columns: repeat(2, 1fr); /* Trois colonnes égales */
  gap: 20px;
}

.left .row img {
  width: auto;  /* Les images prennent toute la largeur de leur cellule */
  height: 100%; /* Maintient les proportions */
}






.projet-xl {
  grid-row: span 2; /* Cela fait en sorte que l'élément occupe deux lignes */
  object-fit: contain;
  place-items: center;
}



/* Effet hoover */
.projet{
  opacity: 1;
  transition: opacity 0.8s ease;
}
.projet.unactive{
  opacity: 0.5;
  /* filter: grayscale(1); */
  z-index: -1;
}
.projet:hover .overlay {
  opacity: 1; /* Afficher le texte au survol */
}
.overlay {
  position: absolute; /* Pour superposer le texte sur l'image */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: white; /* Couleur du texte */
  display: flex; /* Pour centrer le texte */
  justify-content: center; /* Centrer horizontalement */
  align-items: center; /* Centrer verticalement */
  opacity: 0; /* Masquer le texte par défaut */
  transition: opacity 0.8s ease; /* Transition pour l'apparition du texte */
}
.overlay-a {
  background-color: #e26951cc;
}
.overlay-b {
  background-color:rgb(42, 220, 77, 0.8);
}
.overlay-c {
  background-color:#410871cc;
}

/*Apparition des éléments*/
.page-projet-img, .page-projet-txt {
  opacity: 0; /* Commence avec une opacité de 0, donc caché */
  transition: opacity 0.8s ease-in-out; /* Transition sur l'opacité avec une durée de 1 seconde */
}

/* Lorsque la page est chargée, appliquer une opacité de 1 */
.page-projet-img.visible, .page-projet-txt.visible {
  opacity: 1; /* Rendre l'élément visible en augmentant l'opacité */
}
.video-container {
  width: 100%;  /* La cellule occupe toute la largeur de son conteneur parent */
  height: 100%; /* La cellule occupe toute la hauteur de son conteneur parent */
  position: relative; /* Pour pouvoir contrôler la taille de la vidéo à l'intérieur */
  overflow: hidden;  /* Cache tout dépassement */
  margin-right: 20px;
}

.video-container video {
  object-fit: cover;  /* Assure que la vidéo couvre toute la cellule, tout en maintenant l'aspect ratio */
  width: 100%;        /* La vidéo occupe toute la largeur de la cellule */
  height: 100%;       /* La vidéo occupe toute la hauteur de la cellule */
  object-position: center;  /* Centre la vidéo dans la cellule */
}

.carousel-wrapper {
  display: flex;
  flex-direction: column; /* Mettre en colonne pour que le texte soit en dessous */
  align-items: center;
}

.slide {
  width: 100%;
  align-items: center;
  justify-content: center;
}

.carousel-text {
  font-size: 100%;
  font-family: "authentic-sans-60", monospace;
  color: #25173b;
  padding: 10px;
  text-align: center;
}

.carousel-container {
  position: relative;
  width: 85%;
  max-width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.carousel-container img {
  width: 79%;
  height: auto;
  object-fit: cover;
}

.carousel-container1 {
  position: relative;
  width: 85%;
  max-width: 100%;
  margin-left: 40px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.carousel-container1 img {
  width: 60%;
  height: auto;
  object-fit: cover;
}

.carousel-wrapper1 {
  display: flex;
 /* Mettre en colonne pour que le texte soit en dessous */
  align-items: center;
}

.left1 {
  display: grid;
  grid-template-columns: 1fr;
  margin-left: 60px;
  justify-items: center;
  justify-content: center;
}


/* Media Query pour les petits écrans (smartphones) */
@media screen and (max-width: 768px) {
  .all {
    display: grid;
    grid-template-columns: 1fr;  /* Une seule colonne, donc "left" en-dessous de "right" */
    gap: 20px;  /* Espace entre les éléments */
  }

  .left {
    width: 100%;  /* La div 'left' prend toute la largeur */
    padding: 0;
  }

  .right {
    width: 100%;  /* La div 'right' prend toute la largeur */
    padding: 0;
    position: relative;
    top: auto; /* Retirer le positionnement sticky pour éviter le défilement indésirable */
  }

  /* Images dans .left : ajuster la taille des images */
  .left img {
    width: 100%;
    height: auto;  /* Maintient le ratio d'image */
  }

  /* Pour les images de la rangée dans .left */
  .left .row img {
    width: 100%;  /* Les images de la ligne prennent toute la largeur de la cellule */
    height: auto;
  }

  /* Si tu veux que le texte de la section .right soit centré sur mobile */
  .right h2, .right h3, .right p {
    text-align:left;
  }

  /* Empêcher les images d'occuper trop d'espace en hauteur */
  .left .full-width {
    width: 100%;
    height: auto;
  }

  /* Assurer que l'overlay fonctionne même sur les petits écrans */
  .projet {
    position: relative;
    margin: 0;
    width: 100%;
  }

  .projets {
    display: grid; /* Utiliser une grille à une seule colonne sur les petits écrans */
    grid-template-columns: 1fr; /* Une seule colonne */
    gap: 20px;  /* Espacement entre les éléments */
    margin: 0;  /* Retirer toute marge par défaut */
  }

  .projet {
    width: 100%;  /* S'assurer que chaque projet prend toute la largeur du parent */
    padding: 0;
    margin: 0;
  }

  /* Pour s'assurer que les images des projets sont bien responsives */
  .projet img {
    width: 100%;  /* Les images prennent toute la largeur de leur conteneur */
    height: auto;  /* Maintient les proportions des images */
  }

  /* Les overlays des projets doivent aussi être responsives */
  .overlay {
    padding: 10px;  /* Ajouter un peu d'espace autour du texte */
    font-size: 16px; /* Réduire la taille de la police pour les petits écrans */
  }

  /* Adaptation de la taille du texte dans les projets */
  .overlay span {
    font-size: 14px; /* Réduire la taille du texte */
  }

  .header-nav {
    display: grid;
    grid-template-columns: 1fr;  /* Une seule colonne pour la navigation sur mobile */
    gap: 10px;
    justify-items: center;
  }

  .header-nav a {
    font-size: 16px; /* Ajuster la taille de la police pour les petits écrans */
  }

  .back-to-top {
    bottom: 10px; /* Réduire la distance du bouton par rapport au bas de l'écran */
    right: 10px;  /* Réduire la distance du bouton par rapport à la droite de l'écran */
  }

  .back-to-top img {
    width: 40px;  /* Réduire la taille de l'icône */
    height: 40px;
  }

  header h1 img {
    width: 80px;
    height: auto;
    margin-top: 5px;
  }
  
  .header-nav a {
    font-size: 1em;
    display: block;
    margin: 10px 0;
  }
  

  .footer-content {
    font-size: 0.8em;
  }
    
  .back-to-top {
    bottom: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
  }

  .scrolling-text {
    animation: scroll-left-mobile 10s linear infinite; /* Animation spécifique sur mobile */
    font-size: 20px;  /* Ajuster la taille du texte pour les petits écrans */
  }

  @keyframes scroll-left-mobile {
    0% {
      transform: translateX(0); /* Commence directement à gauche */
    }
    100% {
      transform: translateX(-100%); /* Défile jusqu'à la gauche */
    }
  }
  
  .separator {
    height: 1px; /* Hauteur du filet */
    background-color: #25173b; /* Couleur du filet */
    margin: 0; /* Supprime l'espace au-dessus et au-dessous */
    margin-top: 50px;
    margin-left: 50px; /* Marge à gauche */
    margin-right: 50px; /* Marge à droite */
    margin-bottom: 10px;
  }

  .a-propos {
    display: grid;
    grid-template-columns: 1fr !important;
    width: 100%; /* Une seule colonne */
    margin: 10px; /* Ajouter un peu de marge */
  }

  .both {
    width: 100%;  /* La div 'left' prend toute la largeur */
    padding: 0;
  }

  .annonce {
    font-size: 12px; /* Ajuster la taille de la police pour les petits écrans */
  }
      
  .contact {
    width: 100%;  /* La div 'right' prend toute la largeur */
    padding: 0;
    gap : 20px;
    position: relative;
    top: auto; /* Retirer le positionnement sticky pour éviter le défilement indésirable */
  }

  .carousel-wrapper {
    gap: 5px; /* Réduire l'espace entre le texte et le carrousel */
  }

  .carousel-text {
    font-size: 90%; /* Réduire la taille de la police pour un affichage plus optimal */
    padding: 8px; /* Réduire le padding pour économiser de l'espace */
  }

  .carousel-container {
    width: 100%; /* Prendre toute la largeur de l'écran */
    margin-left: 0; /* Supprimer la marge gauche */
  }

  .carousel-container img {
    width: 100%; /* Images prennent toute la largeur de l'écran */
  }

  .carousel-container1 {
    width: 100%; /* Même largeur pour container1 */
    margin-left: 0; /* Supprimer la marge gauche */
  }

  .carousel-container1 img {
    width: 90%; /* Réduire la taille de l'image pour les écrans plus petits */
  }

  /* Ajustement des espacements pour les petits écrans */
  .carousel-wrapper1 {
    gap: 8px; /* Réduire l'espace entre le texte et l'image */
  }

  .indexstage {
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
    overflow: hidden; /* Masque le texte qui dépasse */
  }

}

.a-propos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  padding: 20px;
  margin-bottom: 120px;
}

.margin {
  margin-top: -20px;
}

footer {
  display: flex;
  justify-content: center; /* Centre la div horizontalement */
  align-items: center; /* Centre la div verticalement */
  height: 75px; /* Hauteur du footer */
  font-family: "authentic-sans-60", monospace;
}

.footer-content {
  text-align: center; /* Centre le texte à l'intérieur de la div */
}

.footer-content a {
  color: #e26951cc; /* Couleur du texte */
  text-decoration: none; /* Supprime le soulignement des liens */
}

a {
  color: #e26951cc; /* Couleur du texte */
  text-decoration: none; /* Supprime le soulignement des liens */
}

.a-propos a {
  color: #e26951cc; /* Couleur du texte */
  text-decoration: none; /* Supprime le soulignement des liens */
}

.contact h2 {
  margin-bottom: 0; /* Pour éliminer toute marge sous le h2 */
  padding-bottom: 0; /* Assure qu'il n'y a pas de padding en bas */
}

.contact a {
  color: #e26951cc; /* Couleur du texte */
  text-decoration: none; /* Supprime le soulignement des liens */
  margin-top: -20px; /* Appliquer le même margin-top */
  display: block; /* Permet à l'élément de se comporter comme un bloc */
}

.p{
  font-size: 16px;
}

.separator {
  height: 1px; /* Hauteur du filet */
  background-color: #25173b; /* Couleur du filet */
  margin: 0; /* Supprime l'espace au-dessus et au-dessous */
  margin-top: 50px;
  margin-left: 50px; /* Marge à gauche */
  margin-right: 50px; /* Marge à droite */
  margin-bottom: 10px;
}


.indexstage {
  display: grid;
  grid-template-columns: 1fr;
  padding: 20px;
  position: relative;
  overflow: hidden; /* Masque le texte qui dépasse */
}

.scrolling-text {
  display: inline-block; /* Permet au texte de défiler sur une seule ligne */
  white-space: nowrap;   /* Empêche le texte de passer à la ligne suivante */
  animation: scroll-left 10s linear infinite; /* Animation de défilement */
  font-size: 40px;
  color: #25173b; /* Couleur du texte */
}

@keyframes scroll-left {
  0% {
    transform: translateX(100%); /* Commence à droite */
  }
  100% {
    transform: translateX(-100%); /* Défile jusqu'à la gauche */
  }
}
